<div class="row mb-3 mt-5 justify-content-center">
    <div class="col-md-6 col-sm-12">
        <div class="card rounded-2">
            <div class="card-header">
                <h2 class="text-center">Please Fill Your Contact info</h2>
            </div>
            <div class="card-body">
                <form class="form justify-content-center" [formGroup]="ContactForm">
                    <div class="form-group">
                        <label for="CustomerName">Name</label>
                        <input id="CustomerName" name="CustomerName" type="text" class="form-control rounded-2"
                            placeholder="Zeyad Mohsen" formControlName="CustomerName"                   
                            [class.error]="ContactForm.controls['CustomerName'].dirty && ContactForm.hasError('required','CustomerName')"
                            (blur)="ContactForm.controls['CustomerName'].markAsTouched()"/>
                    </div>
                    <div class="form-group mt-2">
                        <label for="Nationality">Nationality</label>
                        <select name="Nationality" id="Nationality" title="Nationality" class="form-select"
                            formControlName="Nationality">
                            <option value="Egyption">Egyption</option>
                            <option value="Amrican">Amrican</option>
                            <option value="Canadian">Canadian</option>
                        </select>
                    </div>
                    <div class="form-group mt-2">
                        <label for="DrivingLicenseNum">Driving License</label>
                        <input id="DrivingLicenseNum" name="DrivingLicenseNum" type="text"
                            class="form-control rounded-2" placeholder="2187389213120"
                            formControlName="DrivingLicenseNum" [class.error]="ContactForm.controls['DrivingLicenseNum'].dirty && ContactForm.hasError('required','DrivingLicenseNum')"
                            (blur)="ContactForm.controls['DrivingLicenseNum'].markAsTouched()"/>
                    </div>
                    <div class="form-group mt-2">
                        <label for="TransactionDate">Transaction Date</label>
                        <input id="TransactionDate" name="TransactionDate" type="date" class="form-control rounded-2"
                            formControlName="TransactionDate"  [class.error]="ContactForm.controls['TransactionDate'].dirty && ContactForm.hasError('required','TransactionDate')"
                            (blur)="ContactForm.controls['TransactionDate'].markAsTouched()"/>
                    </div>
                    <div class="form-group mt-2">
                        <label for="AdvancedPayment">Advanced Payment</label>
                        <input id="AdvancedPayment" name="AdvancedPayment" type="text" class="form-control rounded-2"
                            placeholder="Visa Card" formControlName="AdvancedPayment" [class.error]="ContactForm.controls['AdvancedPayment'].dirty && ContactForm.hasError('required','AdvancedPayment')"
                            (blur)="ContactForm.controls['AdvancedPayment'].markAsTouched()"/>
                    </div>
                    <button type="submit" class="btn btn-dark w-100 mt-4" (click)="SubmiteTheForm()"
                        [disabled]="!ContactForm.valid">
                        Save contact info and book a car now
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>